# Overview #
Learn to get a feel for the set by finding out what kind of data is going to be inside and what it stands for.

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df_08 = pd.read_csv('fuel_eco_08.csv',)
df_08.head()

  Model\tDispl\tCyl\tTrans\tDrive\tFuel\tSales Area\tStnd\tUnderhood ID\tVeh Class\tAir Pollution Score\tFE Calc Appr\tCity MPG\tHwy MPG\tCmb MPG\tUnadj Cmb MPG\tGreenhouse Gas Score\tSmartWay
0  ACURA MDX\t3.7\t(6 cyl)\tAuto-S5\t4WD\tGasolin...
1  ACURA MDX\t3.7\t(6 cyl)\tAuto-S5\t4WD\tGasolin...
2  ACURA RDX\t2.3\t(4 cyl)\tAuto-S5\t4WD\tGasolin...
3  ACURA RDX\t2.3\t(4 cyl)\tAuto-S5\t4WD\tGasolin...
4  ACURA RL\t3.5\t(6 cyl)\tAuto-S5\t4WD\tGasoline...

## Delim ##
The seperator for the file is '\t'(tab) not ','

In [3]:
df_08 = pd.read_csv('fuel_eco_08.csv', delimiter='\t')
df_08.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no

## Attributes ##
By viewing all the columns I'm able to see what types of questions I can ask about the data.

In [4]:
df_08.columns.tolist()

['Model',
 'Displ',
 'Cyl',
 'Trans',
 'Drive',
 'Fuel',
 'Sales Area',
 'Stnd',
 'Underhood ID',
 'Veh Class',
 'Air Pollution Score',
 'FE Calc Appr',
 'City MPG',
 'Hwy MPG',
 'Cmb MPG',
 'Unadj Cmb MPG',
 'Greenhouse Gas Score',
 'SmartWay']

By looking [here](https://www.epa.gov/compliance-and-fuel-economy-data/data-cars-used-testing-fuel-economy) I can see what each of these values mean and how to interpret them. Which will allow me to sort through the set more easily and find out what kind of questions I can answer.

# Questions #
After figuring out and assessing some of the data I can come up with questions about the data set.

In [5]:
df_18 = pd.read_csv('fuel_eco_18.csv', delimiter='\t')
df_18.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV02.4NH3,small car,3,25,35,29,6,No,309
1,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXV02.4NH3,small car,3,25,35,29,6,No,309
2,ACURA MDX,3.0,6.0,AMS-7,4WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV03.08H3,small SUV,3,26,27,27,6,No,330
3,ACURA MDX,3.0,6.0,AMS-7,4WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXV03.08H3,small SUV,3,26,27,27,6,No,330
4,ACURA MDX,3.5,6.0,SemiAuto-9,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV03.5RH3,small SUV,3,19,27,22,4,No,404

The first question I want to ask is how much has the average mpg improved in ten years? For what models has it improved the most, what features seemed to have caused this change?

# Assessing data #
This next part I'm to answer questions about the data sets

In [6]:
# for the number of samples in the 2008 dataset
len(df_08)

2404

In [7]:
# for the number of columns in the 2008 dataset
len(df_08.columns)

18

In [8]:
# for the number of duplicate entries in the 2008 dataset
df_08.duplicated().sum()

25

In [9]:
# for rows with missing data in the 2008 dataset
df_08.isna().sum()

Model                     0
Displ                     0
Cyl                     199
Trans                   199
Drive                    93
Fuel                      0
Sales Area                0
Stnd                      0
Underhood ID              0
Veh Class                 0
Air Pollution Score       0
FE Calc Appr            199
City MPG                199
Hwy MPG                 199
Cmb MPG                 199
Unadj Cmb MPG           199
Greenhouse Gas Score    199
SmartWay                  0
dtype: int64

In [10]:
# for the same questions for the 2018 dataset I will use .info
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2713 entries, 0 to 2712
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 2713 non-null   object
 1   Displ                 2663 non-null   float64
 2   Cyl                   2663 non-null   float64
 3   Trans                 2713 non-null   object
 4   Drive                 2713 non-null   object
 5   Fuel                  2713 non-null   object
 6   Cert Region           2713 non-null   object
 7   Stnd                  2713 non-null   object
 8   Stnd Description      2713 non-null   object
 9   Underhood ID          2713 non-null   object
 10  Veh Class             2713 non-null   object
 11  Air Pollution Score   2713 non-null   int64
 12  City MPG              2713 non-null   object
 13  Hwy MPG               2713 non-null   object
 14  Cmb MPG               2713 non-null   object
 15  Greenhouse Gas Score  2713 non-null   int64
 16  SmartWay              2713 non-null   object
 17  Comb CO2              2713 non-null   object
dtypes: float64(2), int64(2), object(14)
memory usage: 381.6+ KB

In [11]:
# for duplicated rows I need to use .duplicated
df_18.duplicated().sum()

0

In [12]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 2404 non-null   object
 1   Displ                 2404 non-null   float64
 2   Cyl                   2205 non-null   object
 3   Trans                 2205 non-null   object
 4   Drive                 2311 non-null   object
 5   Fuel                  2404 non-null   object
 6   Sales Area            2404 non-null   object
 7   Stnd                  2404 non-null   object
 8   Underhood ID          2404 non-null   object
 9   Veh Class             2404 non-null   object
 10  Air Pollution Score   2404 non-null   object
 11  FE Calc Appr          2205 non-null   object
 12  City MPG              2205 non-null   object
 13  Hwy MPG               2205 non-null   object
 14  Cmb MPG               2205 non-null   object
 15  Unadj Cmb MPG         2205 non-null   float64
 16  Greenhouse Gas Score  2205 non-null   object
 17  SmartWay              2404 non-null   object
dtypes: float64(2), object(16)
memory usage: 338.2+ KB

In [13]:
for column in df_08.columns:
    print(column)
    print(len(pd.unique(df_08[column])))

Model
436
Displ
47
Cyl
9
Trans
15
Drive
3
Fuel
5
Sales Area
3
Stnd
12
Underhood ID
343
Veh Class
9
Air Pollution Score
13
FE Calc Appr
3
City MPG
40
Hwy MPG
44
Cmb MPG
39
Unadj Cmb MPG
722
Greenhouse Gas Score
21
SmartWay
2

In [14]:
for fuel in pd.unique(df_08['Fuel']):
    print(fuel)

Gasoline
ethanol/gas
ethanol
diesel
CNG

In [15]:
for fuel in pd.unique(df_18['Fuel']):
    print(fuel)

Gasoline
Gasoline/Electricity
Diesel
Electricity
Ethanol/Gas
Hydrogen

# Cleaning Data #
1. drop uneeded columns
2. rename columns

In [16]:
drop_list_08 = ['Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG']
drop_list_18 = ['Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2']

df_08.drop(columns=drop_list_08, inplace=True)
df_18.drop(columns=drop_list_18, inplace=True)

In [17]:
df_08.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no

In [18]:
df_18.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,CA,small car,3,25,35,29,6,No
1,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,FA,small car,3,25,35,29,6,No
2,ACURA MDX,3.0,6.0,AMS-7,4WD,Gasoline,CA,small SUV,3,26,27,27,6,No
3,ACURA MDX,3.0,6.0,AMS-7,4WD,Gasoline,FA,small SUV,3,26,27,27,6,No
4,ACURA MDX,3.5,6.0,SemiAuto-9,2WD,Gasoline,CA,small SUV,3,19,27,22,4,No

In [19]:

df_08.rename(columns={'Sales Area': 'Cert Region'}, inplace=True)

In [20]:
# remove spaces and capital letters in column names
rename_dict = {}
for column in df_08.columns:
    rename_dict[column] = column.replace(' ', '_').lower()
df_08.rename(columns=rename_dict, inplace=True)

rename_dict = {} # make empty dict again
for column in df_18.columns:
    rename_dict[column] = column.replace(' ', '_').lower()
df_18.rename(columns=rename_dict, inplace=True)

In [21]:
df_08.head()

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no

In [22]:
df_18.head()

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,CA,small car,3,25,35,29,6,No
1,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,FA,small car,3,25,35,29,6,No
2,ACURA MDX,3.0,6.0,AMS-7,4WD,Gasoline,CA,small SUV,3,26,27,27,6,No
3,ACURA MDX,3.0,6.0,AMS-7,4WD,Gasoline,FA,small SUV,3,26,27,27,6,No
4,ACURA MDX,3.5,6.0,SemiAuto-9,2WD,Gasoline,CA,small SUV,3,19,27,22,4,No

## Filtering, Drop Nulls, Dedupe ##
After fixing those we will be filtering the data sets so that they only contain california(CA) cert region, dropping all nulls and removing all the duplicates.

In [23]:
df_08.shape

(2404, 14)

In [24]:
df_18.shape

(2713, 14)

In [25]:
df_08 = df_08.query('cert_region =="CA"')
df_18 = df_18.query('cert_region =="CA"')

In [26]:
df_08.cert_region.unique()

array(['CA'], dtype=object)

In [27]:
df_18.cert_region.unique()

array(['CA'], dtype=object)

In [28]:
df_08.shape

(1084, 14)

In [29]:
df_18.shape

(1341, 14)

In [30]:
df_08.isnull().sum()

model                    0
displ                    0
cyl                     75
trans                   75
drive                   37
fuel                     0
cert_region              0
veh_class                0
air_pollution_score      0
city_mpg                75
hwy_mpg                 75
cmb_mpg                 75
greenhouse_gas_score    75
smartway                 0
dtype: int64

In [31]:
df_18.isnull().sum()

model                    0
displ                   24
cyl                     24
trans                    0
drive                    0
fuel                     0
cert_region              0
veh_class                0
air_pollution_score      0
city_mpg                 0
hwy_mpg                  0
cmb_mpg                  0
greenhouse_gas_score     0
smartway                 0
dtype: int64

In [32]:
df_08 = df_08.dropna()
df_18 = df_18.dropna()

In [33]:
df_08.isnull().sum().any()

False

In [34]:
df_18.isnull().sum().any()

False

In [35]:
df_08.duplicated().sum(), df_18.duplicated().sum()

(23, 10)

In [36]:
df_08 = df_08.drop_duplicates()
df_18 = df_18.drop_duplicates()

In [37]:
df_08.duplicated().sum(), df_18.duplicated().sum()

(0, 0)

In [38]:
df_08.to_csv('data_08.csv', index=False)
df_18.to_csv('data_18.csv', index=False)

# Fixing Data Types #
Now that I have clean, uniform datasets, I need to inspect the data types to see what should be changed to make them consisten across both sets.

In [39]:
df_08 = pd.read_csv('data_08.csv')
df_18 = pd.read_csv('data_18.csv')

In [40]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 986 non-null    object
 1   displ                 986 non-null    float64
 2   cyl                   986 non-null    object
 3   trans                 986 non-null    object
 4   drive                 986 non-null    object
 5   fuel                  986 non-null    object
 6   cert_region           986 non-null    object
 7   veh_class             986 non-null    object
 8   air_pollution_score   986 non-null    object
 9   city_mpg              986 non-null    object
 10  hwy_mpg               986 non-null    object
 11  cmb_mpg               986 non-null    object
 12  greenhouse_gas_score  986 non-null    object
 13  smartway              986 non-null    object
dtypes: float64(1), object(13)
memory usage: 108.0+ KB

In [41]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1307 entries, 0 to 1306
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 1307 non-null   object
 1   displ                 1307 non-null   float64
 2   cyl                   1307 non-null   float64
 3   trans                 1307 non-null   object
 4   drive                 1307 non-null   object
 5   fuel                  1307 non-null   object
 6   cert_region           1307 non-null   object
 7   veh_class             1307 non-null   object
 8   air_pollution_score   1307 non-null   int64
 9   city_mpg              1307 non-null   object
 10  hwy_mpg               1307 non-null   object
 11  cmb_mpg               1307 non-null   object
 12  greenhouse_gas_score  1307 non-null   int64
 13  smartway              1307 non-null   object
dtypes: float64(2), int64(2), object(10)
memory usage: 143.1+ KB

In [42]:
df_08.head()

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
2,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no
3,ACURA TL,3.2,(6 cyl),Auto-S5,2WD,Gasoline,CA,midsize car,7,18,26,21,6,yes
4,ACURA TL,3.5,(6 cyl),Auto-S5,2WD,Gasoline,CA,midsize car,7,17,26,20,6,yes

In [43]:
df_08.cyl = df_08.cyl.str.strip("\(cyl\)").astype('int64')

In [44]:
df_18.cyl = df_18.cyl.astype('int64')

In [45]:
def str_to_float(df):
    for column in df.iloc[:, 8:13].columns:
        print(type(df[column][0]))
        if type(df[column][0]) == str:
            for i, row in enumerate(df[column].str.split('/', expand=True).values):
                if row[1] is not None:
                    new_value = str((float(row[0])+float(row[1]))/2)
                    print(new_value)
                    df[column][i] = new_value
        df[column] = df[column].astype('float64')
    return df

In [46]:
df_08 = str_to_float(df_08)
df_18 = str_to_float(df_18)

<class 'str'>
5.0
<class 'str'>
15.5
<class 'str'>
22.0
<class 'str'>
18.0
<class 'str'>
6.5
<class 'numpy.int64'>
<class 'str'>
57.5
47.0
48.5
46.5
43.5
39.0
76.5
76.5
39.5
16.0
15.0
14.5
14.0
13.5
14.0
13.0
14.0
13.5
78.0
78.0
16.5
15.5
60.5
16.5
15.5
17.0
15.5
15.5
14.0
14.5
13.0
14.0
14.0
16.5
14.0
72.5
15.0
14.5
14.0
13.5
14.0
13.5
14.0
13.0
80.5
88.0
68.0
18.0
17.5
19.0
39.5
79.0
70.5
36.5
20.5
20.0
39.5
15.5
29.0
45.5
51.5
34.0
30.0
30.0
30.0
33.5
33.5
33.5
14.5
13.5
100.0
11.0
11.0
48.0
43.0
44.5
<class 'str'>
62.5
56.0
53.0
49.5
48.5
41.0
67.0
67.0
50.0
24.0
20.0
18.5
20.0
19.0
20.0
18.5
20.0
19.0
70.5
70.5
26.0
23.5
55.5
26.0
23.5
22.0
20.0
19.5
18.5
20.0
16.5
17.5
18.5
21.5
19.0
66.0
20.0
18.5
20.0
19.0
20.0
19.0
20.0
18.5
71.0
83.0
71.0
26.0
24.5
26.5
41.0
71.5
73.5
46.5
28.0
27.0
42.0
19.5
36.5
46.5
48.0
35.0
41.0
41.0
41.0
37.0
37.0
37.0
21.0
19.5
87.0
15.0
14.5
52.5
43.0
45.5
<class 'str'>
59.5
50.5
50.5
47.5
45.5
40.0
72.0
72.0
43.5
19.0
17.0
16.0
16.5
15.5
16.5
15.0
16.5
15.5
74.0
74.0
20.0
18.5
58.0
20.0
18.5
19.0
17.5
17.0
15.5
16.5
15.0
15.0
15.5
18.5
16.0
69.5
17.0
16.0
16.5
15.5
16.5
15.5
16.5
15.0
76.0
85.5
69.0
21.5
20.0
22.0
40.0
75.5
71.5
40.5
23.5
22.5
40.5
16.5
32.0
46.0
49.5
34.5
34.0
34.0
34.0
35.0
35.0
35.0
17.0
16.0
93.5
12.0
12.5
50.0
42.5
44.5
<class 'numpy.int64'>

<ipython-input-45-3ea4c0dcc11c>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column][i] = new_value

In [50]:
df_08.greenhouse_gas_score = df_08.greenhouse_gas_score.astype('int64')
df_18.greenhouse_gas_score = df_18.greenhouse_gas_score.astype('int64')

In [51]:
for df in [df_08, df_18]:
    df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 986 non-null    object
 1   displ                 986 non-null    float64
 2   cyl                   986 non-null    int64
 3   trans                 986 non-null    object
 4   drive                 986 non-null    object
 5   fuel                  986 non-null    object
 6   cert_region           986 non-null    object
 7   veh_class             986 non-null    object
 8   air_pollution_score   986 non-null    float64
 9   city_mpg              986 non-null    float64
 10  hwy_mpg               986 non-null    float64
 11  cmb_mpg               986 non-null    float64
 12  greenhouse_gas_score  986 non-null    int64
 13  smartway              986 non-null    object
dtypes: float64(5), int64(2), object(7)
memory usage: 108.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1307 entries, 0 to 1306
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 1307 non-null   object
 1   displ                 1307 non-null   float64
 2   cyl                   1307 non-null   int64
 3   trans                 1307 non-null   object
 4   drive                 1307 non-null   object
 5   fuel                  1307 non-null   object
 6   cert_region           1307 non-null   object
 7   veh_class             1307 non-null   object
 8   air_pollution_score   1307 non-null   float64
 9   city_mpg              1307 non-null   float64
 10  hwy_mpg               1307 non-null   float64
 11  cmb_mpg               1307 non-null   float64
 12  greenhouse_gas_score  1307 non-null   int64
 13  smartway              1307 non-null   object
dtypes: float64(5), int64(2), object(7)
memory usage: 143.1+ KB

In [52]:
df_08.to_csv('clean_08.csv', index=False)
df_18.to_csv('clean_18.csv', index=False)