# Merging Datasets #
This notebook will demonstrate merging

In [1]:
#load datasets

import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

df_08 = pd.read_csv('clean_08.csv')
df_18 = pd.read_csv('clean_18.csv')

In [3]:
df_08.rename(columns=lambda x: x[:10]+'_2008', inplace=True)

In [4]:
df_08.head()

,model_2008,displ_2008,cyl_2008,trans_2008,drive_2008,fuel_2008,cert_regio_2008,veh_class_2008,air_pollut_2008,city_mpg_2008,hwy_mpg_2008,cmb_mpg_2008,greenhouse_2008,smartway_2008
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,CA,SUV,7.0,15.0,20.0,17.0,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,CA,SUV,7.0,17.0,22.0,19.0,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,CA,midsize car,7.0,16.0,24.0,19.0,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,CA,midsize car,7.0,18.0,26.0,21.0,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,CA,midsize car,7.0,17.0,26.0,20.0,6,yes

In [5]:
df_combined = df_08.merge(df_18, left_on='model_2008', right_on='model', how='inner')

In [8]:
df_combined.head()

,model_2008,displ_2008,cyl_2008,trans_2008,drive_2008,fuel_2008,cert_regio_2008,veh_class_2008,air_pollut_2008,city_mpg_2008,...,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,CA,SUV,7.0,15.0,...,4WD,Gasoline,CA,small SUV,3.0,26.0,27.0,27.0,6,No
1,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,CA,SUV,7.0,15.0,...,2WD,Gasoline,CA,small SUV,3.0,19.0,27.0,22.0,4,No
2,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,CA,SUV,7.0,15.0,...,2WD,Gasoline,CA,small SUV,3.0,20.0,27.0,23.0,5,No
3,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,CA,SUV,7.0,15.0,...,4WD,Gasoline,CA,small SUV,3.0,18.0,26.0,21.0,4,No
4,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,CA,SUV,7.0,15.0,...,4WD,Gasoline,CA,small SUV,3.0,19.0,26.0,22.0,4,No

# Results with Merged Dataset #
**Q5: For all of the models that were produced in 2008 that are still being produced now, how much has the mpg improved and which vehicle improved the most?**

In [9]:
model_mpg = df_combined.groupby('model')[['cmb_mpg_2008', 'cmb_mpg']].mean()

In [10]:
model_mpg.head()

           cmb_mpg_2008    cmb_mpg
model
ACURA MDX     17.000000  23.000000
ACURA RDX     19.000000  22.500000
AUDI A3       23.333333  28.000000
AUDI A4       21.000000  27.000000
AUDI A6       19.666667  25.666667

In [11]:
model_mpg['mpg_change'] = model_mpg['cmb_mpg'] - model_mpg['cmb_mpg_2008']

In [13]:
model_mpg.query('mpg_change == mpg_change.max()')

                  cmb_mpg_2008  cmb_mpg  mpg_change
model
CHEVROLET Malibu     22.333333     33.0   10.666667

In [16]:
model_mpg.mpg_change.max()

10.666666666666668